/* main blue =  #1059c1  */

/* BASIC SETUP */

/* --------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root {
    --main-blue: #305486;
    --main-blue-lighter: #466da0;
    --main-blue-transparent: rgba(8, 56, 124, 0.7);
    --nav-bg-color: rgba(255, 255, 255, 0.85);
}

body {
    background-color: white;
    color: rgb(40,48,24);
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.clearfix {
    zoom: 1
}

/* this clears the float --- but I don't know how... */

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

/*----- HEADINGS ------*/

h1 {
    font-weight: 300;
    font-size: 2.5rem;
    color: #eee;
    margin-bottom: 10px;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    color: #4e4e4e;
    font-size: 190%;
    word-spacing: 8px;
}

h2:after {
    content: "";
    clear: both;
    display: block;
    border-bottom: 3px solid rgb(114,159,152);
    width: 70px;
    padding-top: 15px;
    margin: auto;
}

h3 {
    font-size: 1.3em;
    margin: 10px 0;
}

h4 {
    font-size: 150%;
    margin: 20px 0;
    color: #eee;
}


/* --------------------------------------- */

/* REUSABLE COMPONENTS */

/* --------------------------------------- */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em 2em;
}


/* ---- LINKS ---- */

a:link,
a:visited {
    text-decoration: none;
    color: var(--main-blue);
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

a:active,
a:hover {
    color: var(--main-blue-lighter);
}

/* ---- BUTTONS ----- */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: .75em 1.3em;
    white-space: nowrap;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    -webkit-box-shadow: -1px -1px 4px rgba(40,48,24, 0.3);
            box-shadow: -1px -1px 4px rgba(40,48,24, 0.3);
    -webkit-transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940); 
}

.btn:hover {
    -webkit-box-shadow: -2px 2px 6px rgba(40,48,24, 0.5);
            box-shadow: -2px 2px 6px rgba(40,48,24, 0.5);
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
}

.btn-full:link,
.btn-full:visited {
    background-color: rgb(170,134,58);
    color: #fff;
    border: 2px solid rgb(170,134,58);
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #fff;
    background-color: transparent;
    border: 2px solid rgba(238, 238, 238, 0.75);
}

.btn-full:active,
.btn-full:hover {
    color: rgb(170,134,58);
    background-color: rgb(240,236,235);
    border-color: rgb(240,236,235);
    border: 2px solid rgba(12, 73, 159, 0);
}

.btn-ghost:active,
.btn-ghost:hover {
    color: rgb(170,134,58);
    background-color: rgba(238, 238, 238, 1);
    border: 2px solid rgba(238, 238, 238, 1);
}


/* ----- ICONS ----- */

.icon-big {
    font-size: 250%;
    color: rgb(114,159,152);
}

.fa-facebook,
.fa-twitter,
.fa-google-plus,
.fa-youtube {
    font-size: 3em;
    color: white;
    -webkit-transition: all .3s;
    transition: all .3s;
    
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus:hover,
.fa-youtube:hover {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: scale(1.15) translateY(-10px);
            transform: scale(1.15) translateY(-10px);
            color: rgb(114,159,152);
}

/* .fa-facebook:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #1da1f2;
}

.fa-google-plus:hover {
    color: #db4437;
}

.fa-youtube:hover {
    color: #7c1212;
} */

/* --------------------------------------- */

/* SECTION HEADER */

/* --------------------------------------- */

/* HAMBURGER icon */

.nav-toggle {
    display: block;
    position: fixed;
    top: 7px;
    right: 10px;
    height: 50px;
    width: 60px;
    border-radius: 5px;
    z-index: 9;
    opacity: 0.7;
    background: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.nav-toggle:hover {
    opacity: 1;
}
.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
    cursor: pointer;
    height: 5px;
    width: 40px;
    background: #aaa;
    position: absolute;
    display: block;
    content: "";
    left: 0;
    border-radius: 2px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-indent: 100%;
}

.nav-toggle span {
    top: 23px;
    left: 10px;
}
.nav-toggle span:before {
    top: -11px;
}
.nav-toggle span:after {
    top: 11px;
}
.nav-toggle.open {
    background: none;
}
.nav-toggle.open span {
    background: none;
}
.nav-toggle.open span:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
    background-color: #b11818;
}
.nav-toggle.open span:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
    background-color: #b11818;
}

/*------ MENU ------*/

nav {
    display: none;
}


.nav-logo {
    display: block;
    max-width: 140px;
    height: auto;
    -webkit-filter: grayscale(40%);
            filter: grayscale(40%);
    margin: .5em auto;
}

/*---- HEADER -----*/

.header {
    position: relative;
    height: 100vh;
   background-image: linear-gradient(45deg, rgba(36,30,24, 0.9), 85%, rgb(114,159,152, 0.7)), url('../img/background3.jpg');
   height: 100vh;
   background-size: cover;
   background-position: center;

   /* -webkit-animation: heroFadeIn 4s cubic-bezier(0,.62,0,.99) 1s forwards;
   animation: heroFadeIn 4s cubic-bezier(0,.62,0,.99) 1s forwards; */
    
}

.header-overlay {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 10;
}


.header-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 1140px;
    opacity: 0;
    z-index: 20;
    -webkit-animation: heroFadeIn 4s cubic-bezier(0,.62,0,.99) 1s forwards;
            animation: heroFadeIn 4s cubic-bezier(0,.62,0,.99) 1s forwards;
}

@-webkit-keyframes heroFadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes heroFadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.header-text-box {
    -webkit-transform: translateZ(0px);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.header-text {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: 100%;
    color: rgba(238, 238, 238, 0.8);
    margin-top: 10px;
    margin-bottom: 20px;
}

.header .btn {
    margin-bottom: 5px;
}

/*----- ARROW scroll down ------*/

#arrow-down {
    position: absolute;
    width: 64px;
    height: 64px;
    bottom: 16%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    color: #eee;
    border: 1px solid #eee;
    border-radius: 50%;
    font-size: 300%;
    font-weight: 100;
    text-align: center;
    text-shadow: 0 20px 0 #eee, 0 -20px 0 #eee;
    overflow: hidden;
    z-index: 20;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

#arrow-down:hover {
    text-shadow: #eee;
    color: #eee;
    border-color: #6d6b6b;
    opacity: 0.7;
    -webkit-transform: scale(1.1) translateX(-47%);
            transform: scale(1.1) translateX(-47%);
    cursor: pointer;
}

.fa-angle-down {
    -webkit-animation: arrowMove 1.3s infinite linear;
            animation: arrowMove 1.3s infinite linear;
}

/* --------------------------------------- */
/* NAVIGATION */
/* --------------------------------------- */

.nav-logo {
    display: none;
    z-index: 20;
}

.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 100%;
    height: auto;
    background: rgb(240,236,235);
    -webkit-box-shadow: none;
            box-shadow: none;
    z-index: 830;
    width: 80%;
    max-width: 300px;
    -webkit-transition: all .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: all .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.navbar.open {
    left: 0;
}

.main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    list-style: none;
    z-index: 20;
}

.main-nav .nav-item {
    width: 100%;
}

.main-nav .nav-item a:link, 
.main-nav .nav-item a:visited {
      display: block;
      padding: .5em;
      font-size: 1.2em;
      text-align: center;
      color: rgb(40,48,24);
      border-bottom: 2px solid transparent;
      -webkit-transition: all .25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
      transition: all .25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.main-nav .nav-item a:hover,
.main-nav .nav-item a:active {
    background-color: rgb(40,48,24);
    color: rgb(240,236,235);
}



/* --------------------------------------- */

/* SECTION ABOUT */

/* --------------------------------------- */

.section-about .long-text {
    margin-top: 20px;
    text-align: center;
}

.about-boxes {
    display: -ms-grid;
    display: grid;
    grid-gap: 1em;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-top: 40px;
}

.about-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: start;
        align-content: flex-start;
}

.about-box__icon {
    max-width: 100px;
    margin: 0 auto .7em auto;
    transition: transform .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.about-box__heading {
    text-align: center;
}

.about-box__paragraph {
    font-size: 1.1em;
    text-align: justify;
}

.about-box:hover .about-box__icon {
    transform: scale(1.1);
}

/* Animation on scroll */  

.js--wp-1 {
    opacity: 0;
    -webkit-transition: opacity .9s;
    transition: opacity .9s;
}

.js--wp-1.animated {
    opacity: 1;
}


/* --------------------------------------- */

/* SECTION Gallery */

/* --------------------------------------- */

.section-gallery {
    
}

.gallery-boxes {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #000;
    overflow: hidden;
}

.gallery-link:not(:first-child) {
    display: none;
}

.gallery-link {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.gallery-image {
    height: 100%;
    width: 100%;
    opacity: 1;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition: 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.gallery-image:hover {
    opacity: 0.3;
    -webkit-transform: scale(1);
            transform: scale(1);
}

.gallery-preview-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 3em;
    color: rgb(170,134,58);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    pointer-events: none;
}

.gallery-image:hover + .gallery-preview-icon {
    opacity: 1;
    bottom: 50%;
    right: 50%;
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
}
/* -----------------------------------------*/


/* --------------------------------------- */

/* SECTION OPINIONS */

/* --------------------------------------- */

.section-opinions {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.73)), to(rgba(0, 0, 0, 0.73))), url(../img/background2.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)), url(../img/background2.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 40px;

}

.opinions-heading {
    color: #eee;
    margin-bottom: 80px;
}


.opinion-boxes {
    margin: 0 5%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    position: relative;
    grid-gap: 70px;
}

.opinion-box {
    position: relative;
}

.opinion-box:before {
    position: absolute;
    content: "\201C";
    font-size: 500%;
    color: #eee;
    top: -50px;
    left: -35px;

}
.opinion-image {
    float: left;
    width: 80px;
    height: auto;
    border: 3px solid rgb(114,159,152);
    border-radius: 100%;
    margin: 0 20px 5px 0;
    -webkit-shape-outside: circle();
            shape-outside: circle();
}

.opinion-paragraph {
    color: #eee;
    text-align: justify;
}


/* --------------------------------------- */
/* Section Google Map */
/* --------------------------------------- */

#map {
    width: 100%;
    height: 500px;
}




/* --------------------------------------- */
/* Section OPTIONS */
/* --------------------------------------- */

.last-minute-timer {
    text-align: center;
    margin: 0 auto;
    padding-top: 2em;
    color: var(--main-blue);
    -webkit-animation: timerAnimation 3s linear infinite;
            animation: timerAnimation 3s linear infinite;
    
}

@-webkit-keyframes timerAnimation {
    0% { -webkit-transform: scale(1); transform: scale(1); }
    50% { -webkit-transform: scale(1.06); transform: scale(1.06); }
/*    100% { transform: scale(1); }*/
}

@keyframes timerAnimation {
    0% { -webkit-transform: scale(1); transform: scale(1); }
    50% { -webkit-transform: scale(1.06); transform: scale(1.06); }
/*    100% { transform: scale(1); }*/
}

.last-minute-timer span {
    background-color: var(--main-blue);
    color: #fff;
    border-radius: 100%;
    padding: .3em;
    font-weight: 300;
}
.benefits-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.benefits-image {
    display: none;
    max-width: 100%;
    width: 50%;
    height: 50%;
}

.benefits-panel {
    -webkit-box-flex: 1;
        -ms-flex: 1 200px;
            flex: 1 200px;
}

.benefits-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 3em;
    max-width: 100%;
    
}

.benefits-btn {
    -webkit-box-flex: 1;
        -ms-flex: 1 130px;
            flex: 1 130px;
    max-width: 250px;
    margin: .3em;
    border: 2px solid var(--main-blue);
    background-color: #fff;
    color: var(--main-blue);
    outline: none;
    padding: .6em 1em;
    text-align: center;
    -webkit-box-shadow: -1px 3px 4px #d3d7dd;
            box-shadow: -1px 3px 4px #d3d7dd;
    -webkit-transition: .4s;
    transition: .4s;
}

.benefits-btn i {
    font-size: 200%;
    pointer-events: none;
}


.benefits-btn:hover:not(.active) {
    background-color: var(--main-blue);
    color: white;
}

.benefits-btn.active {
    background-color: var(--main-blue);
    color: white;
    -webkit-box-shadow: 0px 2px 4px #8690a0;
            box-shadow: 0px 2px 4px #8690a0;
    -webkit-animation: buttonScale .4s;
            animation: buttonScale .4s;
}

.benefits-content:not(.active) {
    display: none;
}

.benefits-content.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #eee;
    text-align: center;
    margin: .3em;
    -webkit-box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.3);
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-animation: textFadeIn 1s;
            animation: textFadeIn 1s;
}


@-webkit-keyframes textFadeIn {
    
    0% { opacity: 0; }
    100% { opacity: 1; }
}


@keyframes textFadeIn {
    
    0% { opacity: 0; }
    100% { opacity: 1; }
}


/* --------------------------------------- */
/* Section LAST-MINUTE (carousel) -------- */
/* --------------------------------------- */

.last-minute {
    color: rgb(40,48,24);
}

.last-minute__item {
    display: flex !important;
    flex-direction: column;
    text-align: center;
    box-shadow: -1px 1px 6px rgba(40,48,24, 0.4);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.last-minute__item:hover .last-minute__body {
    background-color: rgba(40,48,24, 0.8);
    /* opacity: 0.7; */
}

.last-minute__item--first {
    background-image: url(../img/last-minute-1.jpg);
}

.last-minute__heading {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding: .6em 0;
    font-weight: 400;
}

.last-minute__body {
    transition: background-color .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    background-color: rgba(40,48,24, 0.5);
    color: #fff;
}

.last-minute__price { 
    margin-top: .7em;
    font-size: 2rem;
}

.last-minute__about {
    /*  on mobile DISPLAY none */
    display: none; 
    padding: 1em 1em 0 1em;
    font-size: 1.2em;
}

.last-minute__button {
    margin: 1em 0;
}

.slick-arrow {
    z-index: 30;
    transition: opacity .3s ease;
}

.slick-arrow::before {
    color: rgb(170,134,58);
    font-size: 2.2rem;
}

.slick-arrow:hover {
    opacity: 0.6;
}

.slick-prev {
    left: -30px;
}

.slick-next {
    right: -5px;
}

.slick-dots {
    position: static;
}

/* --------------------------------------- */
/* Section CONTACT with forms */
/* --------------------------------------- */

.section-contact {
    padding: 80px 0 30px 0;;
}

.contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: rgb(240,236,235);
    padding: 1em;
    -webkit-box-shadow: 0 0 10px #ccc;
            box-shadow: 0 0 10px #ccc;
}

.contact-form-title {
    margin-bottom: 1em;
}

.contact-form label {
    margin-bottom: .3em;  
}

.form-control {
    background-color: rgb(240,236,235);
    margin-bottom: .7em;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: .6em;
    -webkit-transition: all .22s;
    transition: all .22s;
}

.form-control[type=checkbox] {
    -webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.form-control[type=checkbox]:active, .form-control[type=checkbox]:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.form-control[type=checkbox]:checked {
    background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.form-control[type=checkbox]:checked::after {
    content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: rgb(114,159,152);
}

.form-control:focus:not(select) {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(114,159,152);
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
}

.submit-btn {
    outline: none;
    padding: .7em .3em;
    border: none;
    -webkit-box-shadow: 0 0 5px rgb(240,236,235);
            box-shadow: 0 0 5px rgb(240,236,235);
    background-color: rgb(170,134,58);
    color: #fff;
    -webkit-transition: .22s;
    transition: .22s;
}

.submit-btn:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: -1px 1px 3px rba(36, 36, 36, 0.4);
    /* border: 1px solid rgb(170,134,58); */
    color: rgb(170,134,58);
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
}

.form-messages {
    padding-top: .4em;
}

.form-messages.success {
    color: green;
}

.form-messages.error {
    color: red;
}


/* --------------------------------------- */
/* Section FAQ  */
/* --------------------------------------- */

.faq__panel {
    display: flex;
    flex-direction: column;
}

.faq__button {
    padding: 0.6em;
    /* transition: all 0.3s ease; */
}
.faq__button + .faq__body {
    opacity: 1;
    overflow: hidden;
    max-height: 400px;
    transition: all .5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.faq__button.collapsed  + .faq__body{
    opacity: 1;
    max-height: 1px;
    /* visibility: hidden; */
}

/* --------------------------------------- */
/* --------------- FOOTER ---------------- */
/* --------------------------------------- */

footer {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(31, 73, 132, 0.3)), to(#1f49844d)), url(../img/footer_background.png);
    background: linear-gradient(rgba(31, 73, 132, 0), rgba(31, 73, 132, 0)), url(../img/footer_background.png);
    padding: 3em 0 2em 0;
    -webkit-clip-path: polygon(50% 22%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
    clip-path: polygon(50% 27%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
}

.footer-heading {
    font-weight: 100;
}

.footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 4em;
}

.footer-socials {
    padding-bottom: .8em;
}
.footer-socials a {
    margin: .6em;
}

.footer-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

.footer-contact i {
    font-size: 200%;
    color: #095f09;
}

.footer-contact a {
    color: #fff;
    margin-left: .3em;
    word-spacing: 5px;
    border-bottom: 1px solid transparent;
    -webkit-transition: all .22s;
    transition: all .22s;
}

.footer-contact a:hover {
    border-bottom: 1px solid #fff;
    color: #ccc;
}




/* --------------------------------------- */
/* --------- NEWSLETTER POPUP ------------ */
/* --------------------------------------- */

.newsletter-popup {
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.46);
}

.popup-box {
    position: relative;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(224, 224, 224, 0.25)), to(rgba(224, 224, 224, 0.25))), url(../img/popup-image.png);
    background-image: linear-gradient(rgba(224, 224, 224, 0.25), rgba(224, 224, 224, 0.25)), url(../img/popup-image.png);
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 20px;
        -ms-flex-positive: 20px;
            flex-grow: 20px;
    width:  70vw;
    height: auto;
    max-height: 100vh;
    margin: auto;
    background-color: white;
}

.popup-close {
    position: absolute;
    top: .3em;
    right: .5em;
    font-size: 200%;
    font-weight: 600;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.popup-close:hover {
    opacity: 0.7;
}


.popup-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 1em;
    height: 85%;
    width: 45%;

}

.popup-content form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.popup-content input {
    background: none;
    width: 100%;
    padding: 0.4em .4em;
    margin: 1em 0;
    border: none;
    border-bottom: 2px solid gray;
    border-radius: 3px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.popup-content input:focus {
    background-color: rgb(199, 210, 229);
}

.popup-content .submit-btn {
    margin-bottom: .6em;
}


/*
.submit-btn {
    padding: 1em 3em;
    margin: 0 auto 2em auto;
    border: 2px solid var(--main-blue);
    border-radius: 3px;
    background-color: white;
    color: var(--main-blue);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: uppercase;
}

.submit-btn:hover {
    background-color: var(--main-blue);
    color: white;
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04);
    
}
*/




/* --------------------------------------- */

/* MEDIA QUERIES */

/* --------------------------------------- */

@media (min-width: 576px) {

    .section-best .container {
        margin: 20px 9%;
    }

    .header-text {
        font-size: 1.3em;
        text-align: left;
    }

    .gallery-boxes {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .gallery-link:nth-child(-n + 4) {
        display: block;
    }

    .last-minute__item {
        margin: 0 1rem;
    }

    .slick-slider {
        /* padding: 0 4rem; */
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 25px;
    }

}



@media (min-width: 769px) {
    .btn {
        display: inline-block;
    }

    .header-box {
        display: block;
        left: 40%;
        top: 50%;

    }

    .header-title {
        font-size: 3.5em;
        font-weight: 300;
        white-space: nowrap;
    }

    /* navigation DESKTOP */

    .nav-toggle {
        display: none;
    }
    
    .navbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: static;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        max-width: unset;
        background-color: rgba(40,48,24, 0);
    }
    
    /* sticky navbar on desktop */
    .navbar.js-sticky {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: unset;
        background-color: rgb(40,48,24);
        box-shadow: 0 1px 3px #222;
    }

    .nav-logo {
        display: block;
    }

    .navbar.js-sticky .nav-logo {
        max-width: 100px;
        animation: logoSlideDown 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    }

   .main-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        max-width: 1200px;
        margin: auto;
    }

    .main-nav .nav-item {
        width: auto;
        margin: .5em;
    }

    .main-nav .nav-item:last-child {
        margin-right: 10%;
    }

    .main-nav .nav-item a:link, 
    .main-nav .nav-item a:visited {
          padding: 0;
          font-size: 1.3em;
          color: #fff;
          border-bottom: 2px solid transparent;
    }

    .main-nav .nav-item a:hover,
    .main-nav .nav-item a:active {
        background: none;
        color: rgba(255, 255, 255, 0.8);
        padding-bottom: .5em;
        border-bottom: 2px solid rgb(170,134,58);
    }

    .main-nav .nav-logo {
        -webkit-filter: grayscale(40%);
                filter: grayscale(40%);
        margin: .5em auto .5em .5em;
    }
    
    #arrow-down {
        bottom: 9%;
    }

    .about-boxes {
        -ms-grid-columns: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
    }

    .gallery-boxes {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .gallery-link:nth-child(-n + 8){
        display: block;
    }

    .section-opinions {
        background-attachment: fixed;
    }
    
    .opinion-boxes {
        -ms-grid-columns: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        margin: 0 2%;
    }

    .opinion-box:last-child {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2 / 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / 3;
        margin: 0 25%;
    }
    
    .last-minute__about {
        display: block;
    }
    
    .benefits-image {
        display: block;
    }


}

@media (min-width: 992px) {

    .about-boxes {
        grid-gap: 2.5em;
    }


    .section-best .container {
        grid-gap: 30px;
    }
}

@media (min-width: 1200px) {

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 5em 0;
    }
    
    .header {
        background-attachment: fixed;
    }
    
    .about-boxes {
        -ms-grid-columns: (1fr)[4];
            grid-template-columns: repeat(4, 1fr);
    }

    .section-best .container {
        -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }



    .opinion-boxes {
        grid-gap: 50px;
    }

    .opinion-boxes {
        -ms-grid-columns: (1fr)[3];
            grid-template-columns: repeat(3, 1fr);
    }
    .opinion-box:last-child {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-area: 1 / 3 / 2 / 4;
        margin: 0;
    }

}


/*  REFATOR animations */

@keyframes logoSlideDown {
    0% { 
        opacity: 0;
        transform: translateY(-80px);
     }
    100% {
        opacity: 1;
        transform: translateY(0);
     }
}

/* refactor animations END */

@-webkit-keyframes arrowMove {
    0% {
        -webkit-transform: translateY(-70px);
                transform: translateY(-70px);
    }
    50% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100% {
        -webkit-transform: translateY(70px);
                transform: translateY(70px);
    }
}

@keyframes arrowMove {
    0% {
        -webkit-transform: translateY(-70px);
                transform: translateY(-70px);
    }
    50% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100% {
        -webkit-transform: translateY(70px);
                transform: translateY(70px);
    }
}

/* --------------------------------------- */

/* Experimenting with JavaScript!!! */

/* --------------------------------------- */

/* ---- GO TOP button ----- */



