/* main blue =  #1059c1  */

/* BASIC SETUP */

/* --------------------------------------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;   
  box-sizing: border-box;
}

:root {
  --main-blue: #305486;
  --main-blue-lighter: #466da0;
  --main-blue-transparent: rgba(8, 56, 124, 0.7);
  --nav-bg-color: rgba(255, 255, 255, 0.85);
}

body {
  background-color: #fff;
  color: #333;
  font-family: 'Lato', 'Arial', sans-serif;
  font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  opacity: 1;
  overflow-x: hidden;
  transition: opacity 1s ease-in-out;
}

body.fade-out {
  opacity: 1;
}

.clearfix { 
  zoom: 1; 
}

/* body {
  transform: scale(1);
}
 */

/* this clears the float --- but I don't know how... */

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/*----- HEADINGS ------*/

h1 {
  font-weight: 300;
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 0.8rem;
}

h2,
h3,
h4 {

  font-family: 'Roboto', sans-serif;

}

h2 {
  /* text-transform: uppercase; */
  text-align: center;
  color: #4e4e4e;
  font-size: 2.4rem;
  font-weight: 400;
  word-spacing: 8px;
}

h2::after {
  content: '';
  clear: both;
  display: block;
  border-bottom: 3px solid #BF6D4B;
  width: 4.3rem;
  padding-top: 1rem;
  margin: 0 auto;
}

h3 {
  font-size: 1.35rem;
  margin: 0.8rem 0;
}

h4 {
  font-size: 150%;
  margin: 20px 0;
  color: #eee;
}

/* *::-moz-selection {
  background: rgb(114, 159, 152);
}

*::selection {
  background: rgb(114, 159, 152);
} */

/* --------------------------------------- */

/* REUSABLE COMPONENTS */

/* --------------------------------------- */

.container {
  max-width: 740px;
  margin: 0 auto;
  padding: 0 1em; 
}
.intro {
  
}

.intro--right {
  margin-left: auto;
}

.intro--light {
  color: #fff;
}
.intro--dark {
  color: #333;
}
.intro
.intro__heading {
  font-size: 3.3em;
  font-weight: 400;
  /* color: #fff; */
  /* margin-bottom: 80px; */
}

.intro__description {
  font-size: 1.3em;
}

/* ---- LINKS ---- */

a:link,
a:visited {
  text-decoration: none;
  color: var(--main-blue);
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

a:active,
a:hover {
  color: var(--main-blue-lighter);
}

/* ----- page LOADER  */

.loading-view {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: #1477B5;
  opacity: 1;
  background-image: linear-gradient(to right, rgba(20,119,181, .8), rgba(255, 255, 255, .3));
  transition: opacity .5s ease, visibility .2s .3s;
}

.loading-view.hidden {
  opacity: 0;
  visibility: hidden;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 3rem; 
}
  .loader__dot {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 0.18em;
    background-color: #888888;
    border-radius: 50%;
    animation: loader-fading 1.6s linear infinite;
    animation-fill-mode: both; 
  }
    .loader__dot:nth-child(2) {
      animation-delay: 0.4s;  
    }
    .loader__dot:nth-child(3) {
      animation-delay: 0.8s; 
    }
    .loader__dot:nth-child(4) {
      animation-delay: 1.2s; 
    }

@keyframes loader-fading {
  0% {
    background-color: #fff;
    transform: scale(1); 
  }
  50% {
    background-color: #BF6D4B;
    transform: scale(1.2); 
  }
  100% {
    background-color: #fff;
    transform: scale(1); 
  } 
}

/* ---- BUTTONS ----- */

.btn:link,
.btn:visited,
.btn-submit {
  display: inline-block;
  padding: 1.1em 1.3em;
  white-space: nowrap;
  text-align: center;
  font-size: .85em;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 0 3px rgba(40, 48, 24, 0.3);
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.btn:hover,
.btn-submit:hover {
  cursor: pointer;
  box-shadow: 0 0 2px rgba(40, 48, 24, 0.5);
  transform: translateY(-2px);
}

.btn-full:link,
.btn-full:visited,
.btn-submit {
  background-color: #BF6D4B;
  color: #fff;
  border: 2px solid #BF6D4B;
}

.btn-ghost:link,
.btn-ghost:visited {
  color: #fff;
  background-color: transparent;
  border: 2px solid rgba(238, 238, 238, 0.75);
}

.btn-full:active,
.btn-full:hover,
.btn-submit:hover {
  color: #BF6D4B;
  background-color: #fff;
  border-color: #fff;
  border: 2px solid rgba(12, 73, 159, 0);
}

.btn-ghost:active,
.btn-ghost:hover {
  color: #BF6D4B;
  background-color: rgba(238, 238, 238, 1);
  border: 2px solid #fff;
}

/* ----- ICONS ----- */





/* .fa-facebook:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #1da1f2;
}

.fa-google-plus:hover {
    color: #db4437;
}

.fa-youtube:hover {
    color: #7c1212;
} */

/* --------------------------------------- */

/* SECTION HEADER */

/* --------------------------------------- */

/* HAMBURGER icon */

.nav-toggle {
  display: block;
  position: fixed;
  top: 7px;
  right: 10px; 
  height: 50px;
  width: 60px;
  border-radius: 5px;
  z-index: 1030;
  opacity: 0.7;
  background: none;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.nav-toggle:hover {
  opacity: 1;
}
.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  cursor: pointer;
  height: 4px;
  width: 40px;
  background: #BF6D4B;
  position: absolute;
  display: block;
  content: '';
  left: 0;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-indent: 100%;
}

.nav-toggle span {
  top: 23px;
  left: 10px;
}
.nav-toggle span:before {
  top: -11px;
}
.nav-toggle span:after {
  top: 11px;
}
.nav-toggle.open {
  background: none;
}
.nav-toggle.open span {
  background: none;
}
.nav-toggle.open span:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  background-color: #b11818;
}
.nav-toggle.open span:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
  background-color: #b11818;
}

/*------ MENU ------*/

nav {
  display: none;
}

.nav-logo {
  display: block;
  max-width: 140px;
  height: auto;
  -webkit-filter: grayscale(40%);
  filter: grayscale(40%);
  margin: 0.5em auto;
}

/*---- HEADER -----*/

.header {
  position: relative;
  height: 100vh;
  /* background-image: linear-gradient(140deg, rgba(36,30,24, 0.8), 75%, rgb(114,159,152, 0.9)), url('../img/background3.jpg'); */
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  /* -webkit-animation: heroFadeIn 4s cubic-bezier(0,.62,0,.99) 1s forwards;
   animation: heroFadeIn 4s cubic-bezier(0,.62,0,.99) 1s forwards; */
}

.header::after {
  display: block; 
  content: '';
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, rgba(20,119,181, .8), rgba(20,119,181, .8)), 
    url('../img/stock-bg-2.jpeg');
  /* background-image: linear-gradient( 
      to right,
    rgba(79, 118, 112, 0.75)
      rgba(255, 255, 255, .8)
    ),
    url('../img/stock-bg-4.jpeg'); */
  background-size: cover;
  background-position: center;
  z-index: -1;
  animation: headerZoom 1.5s linear backwards;
}

@keyframes headerZoom {
  0% {
    transform: scale(1.1) rotateX(25deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}

.header-overlay {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 10;
}

.header-box {
  position: relative;
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  /* left: 50%; */
  margin-top: 45%; 
  margin-top: 25vh; 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* transform: translate(-50%, -50%); */
  /* max-width: 1140px; */
  opacity: 1;
  z-index: 20;
}

.header-text-box {
  transform: translateZ(0px);
  backface-visibility: hidden;
}

.header-title {
  font-family: 'Roboto', sans-serif;
  animation: heroTxtSlideDown 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s
    backwards;
}

.header-text {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-size: 1.2em;
  color: rgba(238, 238, 238, 0.85);
  margin-top: 10px;
  margin-bottom: 20px;
  animation: fadeIn 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.3s backwards;
}

.header .btn {
  margin-bottom: 5px;

  animation: slideInRight 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.7s backwards;
}
.header #arrow-down {
 
  animation: fadeIn 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 3.5s backwards, pulse 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}



@keyframes heroTxtSlideDown {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -60px);
    transform: translate(0, -60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pulse {
  0% {
    transform: translateX(-47%) scale(1);
  }

  25% {
    transform: translateX(-47%) scale(1.2);
  }

  50% {
    transform: translateX(-47%) scale(1);
  }

  100% {
    transform: translateX(-47%) scale(1);
  }
}

/*----- ARROW scroll down ------*/

#arrow-down {
  position: absolute;
  width: 64px;
  height: 64px;
  bottom: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #eee;
  border: 1px solid #eee;
  border-radius: 50%;
  font-size: 300%;
  font-weight: 100;
  text-align: center;
  text-shadow: 0 20px 0 #eee, 0 -20px 0 #eee;
  overflow: hidden;
  z-index: 20;
  cursor: pointer;
  transition-property: opacity, border-color;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#arrow-down:hover {
  text-shadow: #eee;
  color: #eee;
  border-color: #fff;
  opacity: 0.7;
  transform: scale(1.1) translateX(-47%);
  cursor: pointer;
}

.fa-angle-down {
  -webkit-animation: arrowMove 1.3s infinite linear;
  animation: arrowMove 1.3s infinite linear;
}

/* --------------------------------------- */
/* NAVIGATION */
/* --------------------------------------- */

.nav-logo {
  display: none;
  z-index: 20;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: -100vw;
  bottom: 0;
  width: 100vw;
  height: auto;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: none;
  z-index: 1020;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.navbar.open {
  left: 0;
}

.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  list-style: none;
  z-index: 20;
}

.main-nav .nav-item {
  width: 100%;
}

.main-nav .nav-item a:link,
.main-nav .nav-item a:visited {
  display: block;
  
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  color: rgb(40, 48, 24);
  border-bottom: 2px solid transparent;
  transition: border-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.main-nav .nav-item a:hover,
.main-nav .nav-item a:active {
  background-color: rgb(40, 48, 24);
  color: rgb(240, 236, 235);
}

/* --------------------------------------- */
/* SECTION ABOUT */
/* --------------------------------------- */

.section-about {
  padding: 8rem 0 3rem 0;
}
.about { 
  padding-top: 5rem;
}

.about__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.5rem;
  transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.about__box:hover {
  opacity: 0.8;
}

.about__heading {
  text-align: center;
  color: #222;
}

.about__paragraph {
  max-width: 100%;
  color: #444;
  font-size: 1.1rem;
  line-height: 1.3;
  text-align: justify;
}

.about.animated .about__icon {
  animation-name: pop;
  animation-duration: .7s;
  animation-timing-function: ease;
}

.about.animated .about__icon--first {
  animation-delay: .7s;
}
.about.animated .about__icon--second {
  animation-delay: 1.4s;
}
.about.animated .about__icon--third {
  animation-delay: 2.1s;
}
.about.animated .about__icon--fourth {
  animation-delay: 2.8s;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
} 


.about__icon {
  background-color: rgba(20,119,181, .15);
  border-radius: 50%;  
  padding: 1.3em;
  margin-bottom: 1rem;
  fill: #BF6D4B;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.about__icon > svg {
  width: 60px;
  height: 60px;
}

.about__box:hover .about__icon {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Animation on scroll */

.js--wp-1 {
  opacity: 0;
  -webkit-transition: opacity 0.9s;
  transition: opacity 0.9s;
}

.js--wp-1.animated {
  opacity: 1;
}

.show-on-scroll {
  opacity: 0;
  transition: opacity 0.9s;
}

.show-on-scroll.animated {
  opacity: 1;
}

/* --------------------------------------- */
/* Section WHY-US -------- */
/* --------------------------------------- */

.section-why-us {
  padding: 5rem 0;
}

.why-us {
  display: flex;
  flex-direction: column;
}

.why-us__content {
  position: relative;
  flex: 1;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}

.why-us__content::after {
  display: block;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 150px;
  height: 20%;
  border-left: 5px solid #1477B5;
  border-top: 1px solid #1477B5;
  /* border-radius: .5rem; */
}

.why-us__heading {
  font-size: 1.7em;
}

.why-us__paragraph {
  font-size: 1.15rem;
  font-weight: 300;
  line-height: 1.3;
  text-align: justify;
}

.why-us__image {
  border-radius: 1rem;
  box-shadow: 0 0 1rem #aaa;
}

/* --------------------------------------- */

/* SECTION Gallery */

/* --------------------------------------- */

.waves {
  /* background-color: #fff;
  background-color: #ffffff;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 1)), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.83'%3E%3Cpath fill='%23e2ebea' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23c6d8d5' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23aac5c0' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%238eb2ac' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23729f98' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%238eb2ac' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23aac5c0' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23c6d8d5' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23e2ebea' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ffffff' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: 100%; */
}

.section-gallery {
  /* display: none; */
  border-bottom: 1px solid #ddddda;
  padding: 4rem 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  /* border-radius: 1rem; */
  overflow: hidden;
  /* box-shadow: 0 0 .8rem #aaa; */
}

.gallery__heading {
  margin-bottom: 2rem;
}

.gallery__box {
  position: relative;
  flex: 1 1 32.1333%;
  max-width: 32.1333%;
  margin: 0.6%;
  /* background-color: #000; */
  background-color: #729F98;
  overflow: hidden;
}

.gallery__image {
  position: relative;
  height: 100%; 
  width: 100% ;
  opacity: 0.85;
  transform: scale(1.15);
  transition-property: transform, opacity;
  transition: transform 0.3s ease-in-out, opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

 .gallery__image:hover {
  opacity: 0.3;
  transform: scale(1);
}

.gallery__preview-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2.2rem;
  color: rgb(240, 236, 235);
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
}

.gallery__image:hover + .gallery__preview-icon {
  opacity: 1;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
}

/* Light Gallery PLUGIN  customization */

.lg-backdrop.in {
  opacity: 0.6;
}

/* -----------------------------------------*/

/* --------------------------------------- */
/* SECTION STEPS */
/* --------------------------------------- */

.section-steps {
}

.steps {

  display: flex;
  padding: 4rem 0;
}

.steps__image-box {
  flex: 1;
}

.steps__image {
  display: block;
  max-width: 250px;
  margin: 0 auto;
}

.steps__instructions {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.steps__list {
  padding-top: 1em;
  list-style: none;
}

.steps__list-item {
  position: relative;
  margin-bottom: 1.3em;
  font-size: 1.15em;
  font-weight: 400;
}

.steps__list-item::before {
  display: block;
  content: '\f058';
  position: absolute;
  top: -0.15em;
  left: -1.12em;
  color: rgb(114, 159, 152);
  font-family: 'FontAwesome';
  font-size: 2em;
}
/* --------------------------------------- */
/* SECTION OPINIONS */
/* --------------------------------------- */

.section-opinions {
  padding: 3rem 0;
  background-image: linear-gradient(
      to left,
      #5299c5,
      #1477B5
    );
  background-size: cover;
  background-position: center;
  color: #fff;
  border-bottom: 1px solid #ccc; 
}

.opinions__slider {
  display: flex;
  flex-direction: column; 
  /* padding: 1em; */
  /* max-width: 700px; */
}
  .opinions__intro {
    transform: translateX(-50px);
    opacity: 0;
    transition: transform ease .4s, opacity ease .4s;
  }

  .opinions__intro.animated {
    opacity: 1;
    transform: translateX(0);
  }

  .opinions__heading {
    font-size: 3.3em;
    font-weight: 400;
    color: #fff;
    /* margin-bottom: 80px; */
  }
  .opinions__description {
    font-size: 1.3em;
  }
  .opinions__box {
    padding: 2em 1em;
    margin: 3rem 1rem;
    /* background-color: #fff; */
    border-radius: 1rem;
    /* box-shadow: 0 0 1rem #aaa; */
    transition: opacity 0.3s ease;
  }
  
  .opinions__image {
    display: block;
    border: 2px solid #fff;
    border-radius: 100%;
    box-shadow: 0 0 30px #435348;
    margin: 0 auto 1.5em auto;
  }
  .opinions__paragraph {
    position: relative;
    /* color: #222; */
    font-size: 1.1rem;
    font-weight: 300;
    text-align: justify;
    line-height: 1.4;
  }
  .opinions__paragraph::before {
    display: inline;
    position: absolute;
    top: -48px;
    left: -24px;
    content: '\201C';
    font-size: 5rem;
    color: #BF6D4B;
  } 

  .opinions__button-box {
    display: flex;
    justify-content: center;
  }



   /* SLICK customization */

   .slick-list {
     padding: 0 30.5% 0 1em;
   }

   .slick-nav {
    position: absolute;
    bottom: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #BF6D4B;    ;
    opacity: .7;
    transition: opacity .3s ease; 
   }

   .slick-nav:hover {
     opacity: 1;
   }
   
   .slick-nav-left {
     left: 30px;
   }
   .slick-nav-right {
    left: 85px;
   }

   .slick-next {
     right: 0;
   }

   .slick-prev {
     left: 0;
   }

  .slick-button {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin: 0;
    outline: none;
    appearance: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    backface-visibility: hidden;
    transition: opacity .25s cubic-bezier(0.250, 0.460, 0.450, 0.940), transform .25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  }

  .slick-button::before {
    display: block;
    position: absolute;
    top: -3px;
    color: #fff;
    font-family: 'FontAwesome';
    font-size: 3rem;
  }

  .slick-prev::before {
    content: '\f104';
    left: 13px;
  }
  .slick-next::before {
    content: '\f105';
    left: 17px;
  }
 

  .slick-dots li button:before {
    font-size: 2rem;
  }

  .slick-slide {
    transition: transform .3s ease-in-out, opacity .4s ease-in-out;
  }
  .slick-slide:not(.slick-center) {
    opacity: .6;
    transform: scale(0.8);   
  }
  .slick-slide.slick-center {
    opacity: 1;
    transform: scale(1);
  }

/* --------------------------------------- */
/* ----------- Section PARTNERS ---------- */
/* --------------------------------------- */

.section-partners {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  /* border-top: 1px solid #ddddda; */
  padding: 3rem 0;
}

.partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 3em;
}

.partners__box {
  padding-bottom: 2em;
}

.partners__logo {
  max-width: 160px;
  max-height: 100px;
  -ms-flex-item-align: center;
  align-self: center;
  justify-self: center;
}

/* --------------------------------------- */
/* Section LAST-MINUTE -------- */
/* --------------------------------------- */
.section-last-minute {

  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: top;
  padding: 3rem 0;
}

.last-minute {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3rem 0;
  color: rgb(40, 48, 24);
  transform: translateY(30%);
  transition: transform .6s ease;
}

  .last-minute.animated {
    transform: translateY(0);
}
  .last-minute__main-heading > span {
    font-size: initial;
    text-transform: initial;
  }
  .last-minute__item {
    margin: 1rem 0; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 .9rem rgba(40, 48, 24, 0.4);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
      box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .last-minute__item:hover {
    transform: translateY(-7px);
    box-shadow: 0 6px 1rem rgba(40, 48, 24, 0.6);
  }

  .last-minute__item--first {
    background-image: url(../img/last-minute-1.jpg);
  }
  .last-minute__item--second {
    background-image: url(../img/last-minute-2.jpg);
  }
  .last-minute__item--third {
    background-image: url(../img/last-minute-3.jpeg);
  }
  .last-minute__heading {
    background-color: #fff;
    margin: 0;
    padding: 2rem 0;
    font-weight: 400;
    transition: background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
      color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .last-minute__haeding:not(:first-child),
  .last-minute__haeding:not(:last-child) {
    border-radius: 1rem;
  }
  .last-minute__item:hover .last-minute__heading {
    background-color: rgba(20,119,181, .8);
    color: #fff;
  }
  .last-minute__body {
    background-color: rgba(20,119,181, .7);
    color: #fff;
    /* border-radius: 1rem; */
    overflow: hidden;
    transition: background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .last-minute__item:hover .last-minute__body {
    background-color: rgba(40, 48, 24, 0.6);
  }

  .last-minute__price {
    padding-top: 0.7em;
    font-size: 2.3em;
  }

  .last-minute__about {
    padding: 1rem 1.2rem 0 1.2rem;
    font-size: 1.2rem;
  }

  .last-minute__list {
    padding-left: 2.5rem;
    list-style: none;
  }

  .last-minute__list-item {
    position: relative;
    padding: 0.2em 0;
    font-weight: 400;
    text-align: left;
  }

  .last-minute__list-item::before {
    display: block;
    position: absolute;
    top: 2px;
    left: -2.5rem;
    font-family: 'FontAwesome';
    content: '\f00c';
    font-size: 28px;
  }

  .last-minute__button {
    margin: 2rem 0;
    align-self: flex-end;
  }

/* --------------------------------------- */
/* Section HOW  */
/* --------------------------------------- */


.section-how {
  padding: 5rem 0;
}
.how-wrapper {
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.how {
  flex: 1 1 70%;
  position: relative;
  max-width: 800px;
  margin: 3rem auto;
}

.how__image-box {
  display: none;
}

.how__image {
  display: block;
  margin: 0 auto;
} 

.how__box {
  display: flex;
  /* position: relative; */
  padding: 3rem 0;
  /* margin-left: 15%;  */
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  opacity: 0;
  line-height: 1.25;
  /* visibility: hidden; */ 
  transition: opacity 0.3s ease;
}

.how__box.animated {
  opacity: 1;
}

.how__box.animated .how__label {
  transform: translateX(0) scale(1);
}

.how__label {
  margin-right: 2rem;
  /* background-color: rgba(255, 255, 255, 0.7); */
  color: #317589;
  margin-left: 40px;
  border-radius: 10px;
  transform: translateX(-50%) scale(0.5);
  z-index: 10;
  transition: transform .3s ease .15s;
}

.how__label > span {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: .7em; 
  font-weight: 700;
  line-height: 1.75;
  background-color: #BF6D4B;
  box-shadow: -6px 6px 10px #ccc; 
  color: #fff;
  border-radius: 50%;
}

.how__paragraph {
  text-align: left;
  font-weight: 300;
  font-size: 1.7rem;
  line-height: 1.5;
  transform: translateX(200px);
  transition: transform .3s ease;

}

.how__box.animated > .how__paragraph {
  transform: translateX(0);
}
.how__line {
  position: absolute;
  top: 0;
  left: 60px;
  width: 0;
  height: 100%;
  border-left: 4px dotted #1477B5;
  transition: max-height .5s linear;
  z-index: 0;
}

/* --------------------------------------- */
/* Section FAQ  */
/* --------------------------------------- */
.section-faq {
  padding: 4rem 0;
}
.faq {
}

.faq__wrapper {
  margin: 2rem 0;
  overflow: hidden;
  box-shadow: 0 0 12px #ccc;
}

.faq__box {
  background-color: #fff;
}

.faq__head {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  /* color: #1477B5; */
  border: 2px solid rgba(114, 159, 152, 0);
  cursor: pointer;
  user-select: none;
  transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    border 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.faq__head:hover {
  background-color: rgba(20,119,181, .15);
  opacity: 0.7;
  cursor: pointer;
}

.faq__head:not(.js-open):hover .faq__question {
  transform: translateX(.5em);
}

.faq__question {
  margin-right: 1em; 
  background-color: transparent;
  color: #1477B5;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.faq__sign {
  color: #BF6D4B;
  font-size: 1.2em;
  font-weight: 900;
  transform: scale(2);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.faq__head.js-open {
  background-color: #BF6D4B;
}

.faq__head.js-open .faq__question {
  color: #fff;
}

.faq__head.js-open .faq__sign {
  color: #fff;
  font-size: 1.8em;
  font-weight: 700;
}

.faq__body {
  display: none;
  background-color: rgba(20,119,181, .15);
  padding: 2em 1em;
}

/* --------------------------------------- */
/* --------------- FOOTER ---------------- */
/* --------------------------------------- */

.footer {
  border-top: 1px solid #ddddda;
  padding: 0 0 2em 0;
  /* background-color: rgba(20,119,181, .15); */
}

.footer__wrapper {
  padding-top: .5rem;
  color: #666;
}

.footer__heading {
  padding-top: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

.footer__heading::after {
  content: '';
  clear: both;
  display: block;
  width: 4.3rem;
  padding-top: 1rem;
  margin: 0 auto;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsletter__input {
  position: relative;
  width: 100%;
  background-color: transparent;
  margin-right: .7rem;
  outline: none;
  border: none;
  border-bottom: 2px solid #1477B5;
  color: #1477B5;
  padding: 1em 0;
  font-size: 16px;
  /* transition: top .2s ease; */
} 
.newsletter__input::placeholder {
  position: relative;
  color: #1477B5;
  top: 0;
  transition: all .2s ease;
}
.newsletter__input:focus {
  background-color: rgba(255, 255, 255, 1);
}
.newsletter__input:focus::placeholder {
 
  top: -20px;
  font-size: .7em;
  
}

.follow {
  margin-top: 4em;
  text-align: center;
}
  .follow__heading {
    font-weight: 100;
    text-align: center;
    color: #666;
  }
  .follow__socials {
    padding-bottom: 0.8em;
  }

  .follow__social-link {
    display: inline-block;
    position: relative;
    background: transparent;
    margin: 0 .1em;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    line-height: 3.6rem;
    cursor: pointer;
    background-color: rgba(20,119,181, .15);
    text-align: center;
  }
  
  .fa-facebook,
  .fa-twitter,
  .fa-google-plus,
  .fa-youtube {
    width: 3.6rem;
    height: 3.6rem;
    line-height: 3.6rem;
    font-size: 2.1em;
    color: rgba(191, 109, 75, .6);
    transition: all 0.3s;
  }
  
  .fa-facebook:hover,
  .fa-twitter:hover,
  .fa-google-plus:hover,
  .fa-youtube:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scale(1.15) translateY(-10px);
    transform: scale(1.15) translateY(-10px);
    color: rgba(191, 109, 75, 1);
  }
/* --------------------------------------- */
/* --------- NEWSLETTER POPUP ------------ */
/* --------------------------------------- */

.newsletter-popup {
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.46);
}

.popup-box {
  position: relative;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(224, 224, 224, 0.25)),
      to(rgba(224, 224, 224, 0.25))
    ),
    url(../img/popup-image.png);
  background-image: linear-gradient(
      rgba(224, 224, 224, 0.25),
      rgba(224, 224, 224, 0.25)
    ),
    url(../img/popup-image.png);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 20px;
  -ms-flex-positive: 20px;
  flex-grow: 20px;
  width: 70vw;
  height: auto;
  max-height: 100vh;
  margin: auto;
  background-color: white;
}

.popup-close {
  position: absolute;
  top: 0.3em;
  right: 0.5em;
  font-size: 200%;
  font-weight: 600;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.popup-close:hover {
  opacity: 0.7;
}

.popup-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 1em;
  height: 85%;
  width: 45%;
}

.popup-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.popup-content input {
  background: none; 
  width: 100%;
  padding: 0.4em 0.4em;
  margin: 1em 0;
  border: none;
  border-bottom: 2px solid gray;
  border-radius: 3px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.popup-content input:focus {
  background-color: rgb(199, 210, 229);
}

.popup-content .submit-btn {
  margin-bottom: 0.6em;
}

/*
.submit-btn {
    padding: 1em 3em;
    margin: 0 auto 2em auto;
    border: 2px solid var(--main-blue);
    border-radius: 3px;
    background-color: white;
    color: var(--main-blue);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: uppercase;
}

.submit-btn:hover {
    background-color: var(--main-blue);
    color: white;
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04);
    
}
*/

/* --------------------------------------- */

/* MEDIA QUERIES */

/* --------------------------------------- */

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .header-text {
    font-size: 1.5em;
    text-align: left;
  }

  .last-minute__about {
    display: block;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .btn {
    display: inline-block;
  }

  .header-box {
    display: block;
  }

  .header-title {
    font-size: 3.3em;
    font-weight: 300;
    white-space: nowrap;
  }

  /* navigation DESKTOP */

  .nav-toggle {
    display: none;
  }

  .navbar {
    display: flex;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-width: unset;
    background-color: rgba(40, 48, 24, 0);
  }

  /* sticky navbar on desktop */
  .navbar.js-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: unset;
    background-color: rgba(20,119,181, .85);
    box-shadow: 0 0 2px #999;
    animation: navSlide 0.3s linear;
  }

  .navbar.js-sticky:hover {
    background-color: rgba(20,119,181, .95);
    /* padding: .5rem 0; */
  }

  .newsletter {
    flex-direction: row;
  }
  .newsletter__input {
    width: 400px;
  }

  .follow__social-link {
    margin: 0 .7em;
  }

  @keyframes navSlide {
    from {
      max-height: 0;
    }

    to {
      max-height: 100px;
    }
  }

  .nav-logo {
    display: block;
  }

  .navbar.js-sticky .nav-logo {
    max-width:  80px;
    animation: logoSlideDown 0.35s 0.4s backwards
      cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  

  .main-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
  }

  .main-nav .nav-item {
    width: auto;
    margin: 1em 1em .5em 1em;
  }

  .main-nav .nav-item:last-child {
    margin-right: 10%;
  }

  .main-nav .nav-item a:link,
  .main-nav .nav-item a:visited {
    padding-bottom: .5rem;
    font-size: 1.1em;
    color: #fff;
    border-bottom: 2px solid transparent;
  }

  .main-nav .nav-item a:hover,
  .main-nav .nav-item a:active {
    background: none;
    color: rgba(255, 255, 255, 0.8);
    /* padding-bottom: 0.5em; */
    border-bottom: 2px solid #BF6D4B;
  }

  .main-nav .nav-logo {
    -webkit-filter: grayscale(40%);
    filter: grayscale(40%);
    margin: 0.5em auto 0.5em 0.5em;
  }

  #arrow-down {
    bottom: 9%;
  }

  .about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
    .about__box {
      flex: 1 1 50%;
      max-width: 50%;
      padding: 1em;
    }

  .opinions {
     
  }

 

  /* .opinions__wrapper {
    max-width: calc(100% - 2*90px);
    margin: 0 auto;
  } */
  /* .slick-nav-left {
    left: -90px;
  }
  .slick-nav-right {
   right: -90px;
  } */

  .last-minute {
    /* display: flex; */
    flex-direction: row;
  }
    .last-minute__item {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin: 0 1rem;
    }
    .last-minute__body {
      height: 100%;
    }

  .gallery__box {
    flex: 1 1 23.8%;
    max-width: 23.8%;
  }    

  .faq__wrapper {
    margin: 3em 8em;
  }
  .footer__wrapper {
    flex-direction: row;
    align-items: flex-end;
  }
  .footer__newsletter {
    margin-right: 3rem;
  }
 
}

@media (min-width: 992px) {
  

  .container {
    max-width: 960px;
  }
  .intro {
    max-width: 45%;
  }
  
  .about__box {
    flex: 1 1 25%;
    max-width: 25%;
    padding: 0 1em;
  }
  .about__paragraph {
    line-height: 1.4;
  }

  .why-us {
    flex-direction: row;
  }
    .why-us__content {
      flex: 2;
      padding-right: 4rem;
    }
    .why-us__paragraph {
      font-size: 1.2rem;
      line-height: 1.4;
    }
    .why-us__image-box {
      flex: 3;
      align-self: center;
    }
  .ox-hidden { overflow-x: hidden; }


  .how__image-box {
    display: block;
    flex: 1 1 30%;
  }
  
  .opinions__intro {
    margin-left: 1.8em;
  }  

  .opinions__image {
    float: left;
    shape-outside: circle();
    margin: 0 2em 0 0;
  } 
  .slick-nav-left {
    left: 50px;
  }
  .slick-nav-right {
   left: 120px;
  }

  .gallery {
    max-width: 80%;
  }
  .faq__question {
    font-size: 1.4em;
  }
  .faq__sign {
    font-size: 1.6em;
  }

  .faq__head.js-open .faq__sign {
    font-size: 2.2em;
   }

}

@media (min-width: 1240px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 8em 0 2em 0; */
  }

  .header::after {
    background-attachment: fixed;
  }

}

/*  REFATOR animations */

@-webkit-keyframes logoSlideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes logoSlideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* refactor animations END */

@-webkit-keyframes arrowMove {
  0% {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
  }
  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(70px);
    transform: translateY(70px);
  }
}

@keyframes arrowMove {
  0% {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
  }
  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(70px);
    transform: translateY(70px);
  }
}

/* --------------------------------------- */

/* Experimenting with JavaScript!!! */

/* --------------------------------------- */

/* ---- GO TOP button ----- */

/* SLICK experiments */

/* .slick-slide {
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.slick-active:not(.slick-current) {
  transform: scale(0.7);
}

.slick-active.slick-current {
  transform: scale(1);
  position: relative;
  z-index: 20;
}

.slick-slide {
  opacity: 0;
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.slick-slide.slick-active {
  opacity: 1;
}

.slick-slide.slick-active:not(.slick-current) {
  transform: scale(0.7) translateX(-200px);
  opacity: 0.9;
} */

.form-test {
  position: relative;
}

.form-test .form-control {
}

.form-test label {
  position: absolute;
  top: 0;
  left: 0;
  display: inline;
  font-size: 0.8em;
  margin: 0;
}

.grid-test {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-columns: repeat(3, 1fr);
}

.grid-item {
  grid-row: 2 / 4;
  grid-column: 2 / 5;
}






/*  EXP with CARDS */

.section-cards {
  display: none;
  padding: 5rem 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards__box {
  position: relative;
  flex: 1 1 32.333%;
  max-width: 32.333%;
  margin: .5%;
  overflow: hidden;
}

.cards__image {
  width: 100%;
  height: 100%;
}

.cards__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  color: #fff;
  z-index: 10;
  text-align: center;
  transition: opacity .3s ease, transform .3s ease;
}

.cards__box:hover > .cards__overlay {
  opacity: 0;
  /* transform: translateY(100%); */
}

.cards__box:hover > .cards__content {
  opacity: 0;
  transform: translateY(25%);
}



.cards__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, rgba(36, 36, 36, .9), rgba(52, 52, 52, .2));
  color: #fff;
  overflow: hidden;
  transition: opacity .4s ease;
}